{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<section class="hero d-flex align-items-center">
  <div class="hero-image">
    <img src="{% static 'images/fans.svg' %}" class="img-fluid" alt="Fans"/>
  </div>
  <div class="container">
    <h1 class="display-4">Test Your Football Knowledge</h1>
    <p class="lead mb-4">Join our Football Pick'em League and predict the winners of each game. Challenge your friends and see who comes out on top!</p>
    <a class="btn btn-primary btn-lg" href="{% url "account_login" %}">Learn More & Sign Up</a>
  </div>
{% endblock content %}
